#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
}

#hero-msg h1, #hero-msg h4{
text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

